<html>
	<body>
		<form action="/courses/addCourses" method="post">
			course department <input tpye="text" name="cDep"/><br/>
			course numbers<input type="text" name="inp"/>
			<button type="submit">submit</button>
		</form>
		
	</body>
</html>