<!doctype html>
<html>
<head>
	<title>Create Book</title>
</head>
<body>
	<h1>Create a textbook</h1>
	<form action="/book/new" method="post">
		<div>
			<label>book title</label>
			<input type="text" class="form-control" name="name"/>
		</div>
		<div>
			<label>Course Department</label>
			<input type="text" class="form-control" name="department"/>
		</div>
		<div>
			<label>Course Number</label>
			<input type="number" class="form-control" name="number"/>
		</div>
		<button type="submit">Create</button>
	</form>
</body>
</html>