<%- include head.ejs %>
    
    <div class="profile">
        
    	<h1>Create a textbook</h1>
        <% if(message){ %>
            <div class="alert alert-danger">
              <%= message %>
            </div>
        <% } %>

        <div class="form-container">
        	<form action="/book/new" class="pure-form pure-form-aligned" method="post">
              <fieldset class="pure-from-fieldset paddL paddR">
                    <input type="hidden" value="1"/>
            		<div class="pure-control-group">
            			<label>book title</label>
            			<input type="text" class="form-control" name="name"/>
            		</div>
                    <div></div>


                <div class="pure-button add-course-book" id="plus-course"><i class="fa fa-plus-square fa-lg"></i> Add a Course</div>
                <hr/>
            		
                </fieldset>
                <button type="submit" class="pure-button" >Create</button>
        	</form>
        </div>
    </div>    
  </body>
  <script type="text/javascript" src="/javascripts/index.js"></script>
</html>








