<%- include head.ejs %>
<div class="profile">
	<% if (message) { %>
		<div class="alert alert-danger">
			<%= message %>
			<% if (message.link.exists){ %>
					<a  href='<%= message.link.path %>' > <%= message.link.text %></a> 
			<% } %>
		</div>
	<% } %>
	<div class="pure-u">
		<h2>Publish Book to Market</h2>
		<div class="form-container">
			<form class="pure-form pure-form-aligned" action="/listing/new" method="post">
				<fieldset class="pure-from-fieldset paddL paddR">
					<div class="pure-control-group">
						<label for="name">Book Title</label>
						<input id="name" type="text" class="form-control" name="name"/>
					</div>
					
					<div class="pure-control-group">
						<label for="price">Price</label>
						<input id="price" type="number" class="form-control" name="price"/>
					</div>
					
					<div class="pure-control-group">
						<label for="edition">Edition</label>
						<input id="edition" type="number" name="edition"/>
					</div>	
					
					<div class="pure-control-group">
						<label for="condition">Condition</label>
						<select class="form-control" name="condition" id="condition">
							<option>Like New</option>
							<option>Very Good</option>
							<option>Good</option>
							<option>Acceptable</option>
						</select>
					</div>
					<button type="submit" class="pure-button">Create</button>
				</fieldset>			
			</form>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="../javascripts/vendor/jquery-ui/js/jquery-1.8.3.js" ></script>
<script type="text/javascript" src="../javascripts/vendor/jquery-ui/js/jquery-ui-1.9.2.min.js"></script>
<script type="text/javascript">
	$(function() {
	var subjects = ["ACL <All College Listing>", "AFR <Africana Studies>", "AMR <American Studies>", "ANTH <Anthropology>", "ANW <Africa In the New World>", "ARB <Arabic>", "ARCH <Archeology>", "AST <Astronomy>"];

	$("#subject").autocomplete({source: subjects});
	});
</script>
</html>