<!doctype html>
<html>
<head>
	<title>Create Course</title>
</head>
<body>
	<h1>Create a Course</h1>
	<form action="/course/new" method="post">
		<div>
			<label>course name</label>
			<input type="text" class="form-control" name="name"/>
		</div>
		<div>
			<label>course number</label>
			<input type="number" class="form-control" name="number"/>
		</div>
		<div>
			<label>course department</label>
			<input type="text" class="form-control" name="department"/>
		</div>
		<button type="submit">Create</button>
	</form>
</body>
</html>