<%- include head.ejs %>

	<% if (message) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>
	
	<form action="/listing/new" method="post">
		<div>
			<label>book title</label>
			<input type="text" class="form-control" name="name"/>
		</div>
		<div>
			<label>Price</label>
			<input type="number" class="form-control" name="price"/>
		</div>
		<div>
			<label>Edition</label>
			<input type="number" class="form-control" name="edition"/>
		</div>
		<div>
			<label>condition</label>
			<input type="string" class="form-control" name="condition"/>
		</div>
		<button type="submit">Create</button>
	</form>
	<% console.log("user: " + user.userLogin.email) %>
</body>
<script type="text/javascript" src="../javascripts/vendor/jquery-ui/js/jquery-1.8.3.js" ></script>
<script type="text/javascript" src="../javascripts/vendor/jquery-ui/js/jquery-ui-1.9.2.min.js"></script>
<script type="text/javascript">
	$(function() {
	var subjects = ["ACL <All College Listing>", "AFR <Africana Studies>", "AMR <American Studies>", "ANTH <Anthropology>", "ANW <Africa In the New World>", "ARB <Arabic>", "ARCH <Archeology>", "AST <Astronomy>"];

	$("#subject").autocomplete({source: subjects});
	});
</script>
</html>