<!doctype html>
<html>
<head>
	<title>Create Listing</title>
</head>
<body>
	<h1>Create a textbook listing</h1>
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>
	<form action="/listing" method="post">
		<div>
			<label>book title</label>
			<input type="text" class="form-control" name="email"/>
		</div>
		<div>
			<label>Price</label>
			<input type="password" class="form-control" name="password"/>
		</div>
		<button type="submit">Create</button>
	</form>
</body>
</html>