<!doctype html>
<html>
<head>
	<title>Create Listing</title>
</head>
<body>
	<h1>Create a textbook listing</h1>
	<form action="/listing/new" method="post">
		<div>
			<label>book title</label>
			<input type="text" class="form-control" name="name"/>
		</div>
		<div>
			<label>Price</label>
			<input type="number" class="form-control" name="price"/>
		</div>
		<div>
			<label>Edition</label>
			<input type="number" class="form-control" name="edition"/>
		</div>
		<div>
			<label>condition</label>
			<input type="string" class="form-control" name="condition"/>
		</div>
		<h3>What class is this book for? (optional)</h3>
		<div>
			<label>Course Department</label>
			<input type="string" class="form-control" name="cDepartment"/>
		</div>
		<div>
			<label>Course Number</label>
			<input type="string" class="form-control" name="cNumber"/>
		</div>
		<button type="submit">Create</button>
	</form>
	<% console.log("user: " + user.userLogin.email) %>
</body>
</html>