<!doctype html>
<html>
<head>
	<title>Create Listing</title>
</head>
<body>
	<h1>Create a textbook listing</h1>
	<form action="/listing/new" method="post">
		<div>
			<label>book title</label>
			<input type="text" class="form-control" name="name"/>
		</div>
		<div>
			<label>Price</label>
			<input type="number" class="form-control" name="price"/>
		</div>
		<button type="submit">Create</button>
	</form>
</body>
</html>