<!DOCTYPE html>
<html>
<head>
	<title><%= pageTitle %></title>
	<link href="/javascripts/vendor/jquery-ui/css/custom-theme/jquery-ui-1.9.2.css" rel="stylesheet">
	<link href="/public/styles/style.css"/>
</head>

<body>
	<h1><%= pageTitle %></h1>
	<h2><a href="/listing/search">Buy a book</a>
		|| <a href="/listing/new">Sell a book</a>
		|| <a href="/profile">My profile</a>
	</h2>
