<!doctype html>
<head>
	<title>Textchange: Tufts</title>
</head>
<body>
	<h1>Welcome to P2PText: Tufts!</h1>
	<h2>Cut out the middle man. Sell and buy books from 
		your classmates without the markup.</h2>
	<a href="/login">Login</a>
	<a href="/signup">Sign Up</a>
</body>
</html>

