<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A layout example that shows off a responsive product landing page.">

    <title>Peer to Peer Text Tufts</title>

	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<link rel="stylesheet" href="/stylesheets/marketing.css">
	
	<!--[if lte IE 8]>
    	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
	<![endif]-->

	<!--[if gt IE 8]><!-->
    	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
	<!--<![endif]-->
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
    <![endif]-->
    
    <!--[if gt IE 8]><!-->
    <!--<![endif]-->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/signupValidation.css">
</head>
<body ng-app="myApp" class="index">
	<div class="header"><div style="clear:both">
	    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
	    	<a class="pure-menu-heading" href="">P2PText</a>
	        <ul>
	        	<li><a href="#" id="signup-butn">Sign Up</a></li>
	        	<li><a href="#" id="login-butn">Login</a></li>
	        </ul>
	        
	    </div>
	
	<div class="splash-container">
			<div class="splash">
		        <h1 class="splash-head">Peer-to-Peer Text</h1>
		        <p class="splash-subhead">
		            A convenient textbook exchange network which cuts out the middle man.
		        </p>
		    </div>
		</div>

	<div class="form-content">
		<div class="content-head pure-u-3-5" id="login">
			<form class="pure-form pure-form-aligned" action="/login" method="post">
				<fieldset>
					<legend>Login</legend>
						<% if (message.length > 0) { %>
							<p class="alert"><%= message %></p>
						<% } %>
					<div class="pure-control-group">
						<label>Email</label>
						<input type="text" class="form-control" name="email" placeholder="Email"/>
					</div>
					<div class="pure-control-group">
						<label>Password</label>
						<input type="password" class="form-control" name="password" placeholder="Password"/>
					</div>
					<button type="submit" class="pure-button">Login</button>
				</fieldset>
			</form>
		</div>


		<div class="content-head pure-u-3-5" id="signup">

			<form name="userForm" class="pure-form pure-form-aligned" action="/signup" method="post">
        		<fieldset>
        			<legend>Sign Up</legend>
        		    <div class="pure-control-group" ng-class="{ 'has-error' : userForm.userName.$invalid && !userForm.userName.$pristine}">
        		        <label>Username</label>
        		        <input type="text" name="userName" class="form-control" ng-model="user.userName" ng-minlength="3" ng-maxlength="8" required/>
        		        <p ng-show="userForm.userName.$error.minlength" class="help-block">Username is too short.</p>
        		        <p ng-show="userForm.userName.$error.maxlength" class="help-block">Username is too long.</p>
        		        <p ng-show="userForm.userName.$error.required && !userForm.userName.$pristine" class="help-block">username is required</p>
        		    </div>
    
            		<div class="pure-control-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine}">
            		    <label>Email</label>
            		    <input type="email" name="email" class="form-control" ng-model="user.email" required/>
            		    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine && !userForm.email.$error.required" class="help-block">Enter a valid email.</p>
            		    <p ng-show="userForm.email.$error.required && !userForm.email.$pristine" class="help-block">Email is required</p>
            		</div>
    
            		<div class="pure-control-group" ng-class="{ 'has-error' : userForm.password.$invalid-minlength}">
            		    <label class="control-label">Password</label>
            		    <input class="form-control" ng-model="user.password" type="password" name="password" ng-minlength="6">
            		    <p ng-show="userForm.password.$invalid-minlength" class="help-block">Password is too short.</p>
            		</div>
    
            		<div class="pure-control-group" ng-class="{'has-error' : userForm.confirmPassword.$error.match}">    
            		    <label class="control-label">Confirm</label>  
            		    <input class="form-control" ng-model="user.passwordConfirm" type="password" data-match="user.password" name="confirmPassword" required/>    
            		    <p ng-show="userForm.confirmPassword.$error.match" class="help-block">Passwords do not match.</p>
            		<div>
    
            		<button type="submit" class="submit pure-button" ng-disabled="userForm.$invalid">Submit</button>
        		</fieldset>
			</form>
		</div>
	</div>
</body>
<script type="text/javascript" src="/javascripts/vendor/jquery-ui/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="/javascripts/index.js"></script>
<script type="text/javascript" src="/javascripts/vendor/angular/angular.min.js"></script>
<script type="text/javascript" src="/javascripts/matchDirective.js"></script>

</html>

