<!doctype html>
<html>
<head>
	<title>View Listings</title>
</head>
<body>
<a href="/">Home</a> <a href="/profile">Profile</a>
	<h1>View all Listings</h1>

	<% for(var i=0; i<listings.length; i++) { %>
        <h3>
            Name of book: <%= books[i].name %> | Price: $<%= listings[i].price%> | Seller: <%= listings[i].seller%>
        </h3>
    <% } %>
</body>
</html>