<!doctype html>
<html>
<head>
	<title>View Listings</title>
</head>
<body>
	<h1>View all Listings</h1>

	<% for(var i=0; i<listings.length; i++) { %>
        <li>
            <%= listings[i]%>
        </li>
    <% } %>
</body>
</html>