<!doctype html>
<html>
<head>
	<title>View Listings</title>
</head>
<body>
	<h1>View all Listings</h1>

	<% for(var i=0; i<listings.length; i++) { %>
        <h3>
            Name of book: <%= listings[i].book.name%> | Seller: <%= listings[i].seller%> | Price: <%= listings[i].price%>
        </h3>
    <% } %>
</body>
</html>