<!doctype html>
<html>
<head>
	<title>Profile</title>
</head>
<body>
	<p>
		<a href="/listing/new">Create a listing</a>
	</p>

	<% for(var i=0; i<user.inventory.length; i++) { %>
        <li>
            <%= user.inventory[i].book.name%>
        </li>
    <% } %>
</body>
</html>