body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.alert {
	color: red;
}

.btn-danger{
	background-color: rgb(220,0,0);
}

.chatClient{
	background-color: #CCFFFF;
	min-height: 200px;
	margin: 20px auto;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 5px;
	color:white;
	text-align: left;
}



table {
	width: 100%;
	margin: 20px auto;
}

tr, th {
	margin: 0;
	width: 100%;
}