<!doctype html>

<html>
    <head>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
      <link rel="stylesheet" href="stylesheets/marketing.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/signupValidation.css">
    </head>
<body ng-app="myApp">
        
    <div class="content-head col-sm-6">
        <form class="pure-form pure-form-aligned"name="userForm" novalidate>
        <fieldset>
            <div class="pure-control-group" ng-class="{ 'has-error' : userForm.userName.$invalid && !userForm.userName.$pristine}">
                <label>Username</label>
                <input type="text" name="userName" class="form-control" ng-model="user.userName" ng-minlength="3" ng-maxlength="8" required>
                <p ng-show="userForm.userName.$error.minlength" class="help-block">Username is too short.</p>
                <p ng-show="userForm.userName.$error.maxlength" class="help-block">Username is too long.</p>
                <p ng-show="userForm.userName.$error.required && !userForm.userName.$pristine" class="help-block">username is required</p>
            </div>
    
            <div class="pure-control-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine}">
                <label>Email</label>
                <input type="email" name="email" class="form-control" ng-model="user.email">
                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine && !userForm.email.$error.required" class="help-block">Enter a valid email.</p>
                <p ng-show="userForm.email.$error.required && !userForm.email.$pristine" class="help-block">Email is required</p>
            </div>
    
            <div class="pure-control-group" ng-class="{ 'has-error' : userForm.password.$invalid-minlength}">
                <label class="control-label">Password</label>
                <input class="form-control" ng-model="user.password" type="password" name="password" ng-minlength="6">
                <p ng-show="userForm.password.$invalid-minlength" class="help-block">Password is too short.</p>
            </div>
    
            <div class="pure-control-group" ng-class="{'has-error' : userForm.confirmPassword.$error.match}">    
                <label class="control-label">Confirm</label>  
                <input class="form-control" ng-model="user.passwordConfirm" type="password" data-match="user.password" name="confirmPassword"/>    
                <p ng-show="userForm.confirmPassword.$error.match" class="help-block">Passwords do not match.</p>
            <div>
    
            <button type="submit" class="pure-button pure-button-primary" ng-disabled="userForm.$invalid">Submit</button>
            </fieldset>
        </form>
    </div>
    
</body>
<script type="text/javascript" src="javascripts\vendor\jquery-ui\js\jquery-1.8.3.js"></script>
<script type="text/javascript" src="../../codeschool/Angular/angular.min.js"></script>
<script type="text/javascript" src="javascripts/matchDirective.js"></script>
</html>